/* @media only screen and (max-width: 600px) {
  .App {
    height: 500px;
    position: relative;
    min-height: 100vh;
  }

  .header {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
} */

/* @media only screen and (min-width: 601px) { */
.App {
  display: flex;
}
.App .sidebar {
  position: fixed;
  min-width: 220px;
  min-height: 100vh;
}
.elements {
  margin-left: 220px;
}

/* } */
