.triplist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.triplist > * {
  margin: 10px 10px 10px 10px;
}

.img-thumbnail {
  height: 230px;
  width: 400px;
  overflow: hidden;
  object-fit: cover;
  padding: 0;
  margin-top: 0;
}
.card {
  border-radius: 25px;
  overflow: hidden;
}
