.grid-container-detail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'Card Card Map Map'
    'Expenses Expenses Friends Friends';
}
.Map {
  grid-area: Map;
  display: flex;
  justify-content: center;
}
.Card {
  grid-area: Card;
  height: 500px;
  display: flex;
  margin-left: 15%;
  justify-content: center;
}
.Expenses {
  grid-area: Expenses;
  margin-left: 15%;
}
.Friends {
  grid-area: Friends;
}
