.route > * {
  outline-color: transparent;
  display: flex;
  text-decoration: none;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 10px;
}
img {
  margin-top: 10px;
  margin-bottom: 30px;
}
.navbar {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: flex-start;
  position: relative;
}
.route {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  min-width: 100%;
}
.divname {
  color: rgba(255, 255, 255, 0.7);
  margin-left: 15px;
  font-size: 0.85rem;
}
.divname:hover,
.active {
  color: rgb(255, 255, 255, 1);
  font-weight: 900;
}
.bg-gradient-primary {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
}
